[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ptvsd = "*"

[packages]
graphene = "==2.0.1"
peewee = "==2.8.0"
bpython = "*"

[requires]
python_version = "2.7"
